[submodule "host/third_party/glfw"]
	path = host/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "host/third_party/json"]
	path = host/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "host/third_party/imgui"]
	path = host/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "host/third_party/speexdsp"]
	path = host/third_party/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "host/third_party/ffmpeg"]
	path = host/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/7.1
[submodule "host/third_party/curl"]
	path = host/third_party/curl
	url = https://github.com/curl/curl.git
[submodule "host/third_party/portaudio"]
	path = host/third_party/portaudio
	url = https://github.com/PortAudio/portaudio.git
