{
  "server": {
    "port": 48100,
    "bind_address": "0.0.0.0"
  },
  "audio": {
    "resampling_rate": 0,
    "channels": 1,
    "use_speaker_mode": false,
    "driver_device_name": "VB-Audio Virtual Cable",
    "recording_endpoint_name": "CABLE Output",
    "auto_set_default_mic": true,
    "original_mic_id": ""
  },
  "security": {
    "enable_whitelist": true,
    "ca_path": "",
    "allowed_clients": []
  },
  "sunshine": {
    "host": "localhost",
    "webui_port": 47990,
    "paired": false,
    "webui_logged_in": false,
    "webui_username": "",
    "webui_password_encrypted": ""
  }
}
